h1, h2, h3, h4, h5, h6, p, small {
    font-family: $font-family-sans-serif;
}
h1, .h1 {
    font-size: $h1-font-size;
}
h2, .h2 {
    font-size: $h2-font-size;
}
h3, .h3 {
    font-size: $h3-font-size;
}
h4, .h4 {
    font-size: $h4-font-size;
    font-weight: $font-weight-base;
}
h5, .h5 {
    font-size: $h5-font-size;
}
h6, .h6 {
    font-size: $h6-font-size;
}
p {
    font-size: $font-size-base;
}
small {
    font-size: $font-size-sm;
}

@include media-breakpoint-down(md) { 
    h1, .h1 {
        font-size: $h1-font-size / 1.5;
    }
    h2, .h2 {
        font-size: $h2-font-size / 1.5;
    }
    h3, .h3 {
        font-size: $h3-font-size / 1.5;
    }
    h4, .h4 {
        font-size: $h4-font-size / 1.5;
        font-weight: $font-weight-base;
    }
    h5, .h5 {
        font-size: $h5-font-size / 1.5;
    }
    h6, .h6 {
        font-size: $h6-font-size / 1.5;
    }

}