// VARIABLES 


// Colors
//
$primary: 	    	 #1C83E5;
$secondary:      	 #FFFFFF;
$success: 	    	 #6E9A44;
$info: 		     	 #17a2b8;
$warning: 	     	 #ffc107;
$danger: 	     	 #dc3545;

$white:	   #FFFFFF;
$gray-100: #F6F6F6;
$gray-200: #EEEEEE;
$gray-300: #DDDDDD;
$gray-400: #C3C3C3;
$gray-500: #999999;
$gray-600: #707070;
$gray-700: #353535;
$gray-800: #2b2b2b;
$gray-900: #151515;

$theme-colors: () !default;
$theme-colors: map-merge(
	(
		"primary": $primary,
		"secondary": $secondary,
		"success": $success,
		"info": $info,
		"warning": $warning,
		"danger": $danger,
		"white": $white,
		"gray-100": $gray-100,
		"gray-200": $gray-200,
		"gray-300": $gray-300,
		"gray-400": $gray-400,
		"gray-500": $gray-500,
		"gray-600": $gray-600,
		"gray-700": $gray-700,
		"gray-800": $gray-800,
		"gray-900": $gray-900,
	),
$theme-colors
);

$social-colors: (
	"facebook": #4267b2,
	"foursquare": #f94877,
	"instagram": #e4405f,
	"linkedin": #007bb5,
	"pinterest": #bd081c,
	"telegram": #0088cc,
	"twitter": #1da1f2,
	"youtube": #ff0000,
	"whatsapp": #25d366,
	"wechat": #09b83e,
	"phone": $success,
	"email": $success
);

// Set a specific jump point for requesting color jumps from light to dark
$min-contrast-ratio: 2; // 3, 4.5, 7


// Animate.js modules
//
$use-fade: true;


// Transitions timings
//
$transition-durations: (
	faster: .1s,
	fast: .2s,
	default: .3s,
	slow: .6s,
	slower: 1s,
) !default;


// Options
//
$enable-negative-margins: true;


// Spacing
//
$spacer: 2rem;


// Body
//
$body-bg: #0C0A20;
$body-color: #E6E6E6;


// Grid breakpoints
//
/*
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;
*/


// Grid containers
//
/*
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1340px
) !default;
*/

// Z-index master list
//
$zindex-dropdown: 1020;
$zindex-sticky: 1000;


// Components
//
$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%),
  "35x24": calc(24 / 35 * 100%)
);


// Typography
//
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-lg: 1.5rem;
$font-size-base: .9rem;
$font-size-sm: .8rem;
$font-size-xs: .6rem;
$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-bold: 800;

$lead-font-size: $font-size-base * 1.5;
$lead-font-weight: $font-weight-normal;
$headings-font-family: 'Poppins', sans-serif;
$headings-font-weight: 700;

$h1-font-size: 4rem;
$h2-font-size: 3.5rem;
$h3-font-size: 2.75rem;
$h4-font-size: 1.75rem;
$h5-font-size: 1rem;
$h6-font-size: 1.25rem;

$line-height-base: 1.75;
$line-height-sm: 1.5;
$line-height-lg: 2;
$headings-line-height: 1.25;

$headings-letter-spacing: 0px;
$body-letter-spacing: 1px;


// Tables
$table-striped-order: even;


// Buttons + Forms
//
// $input-btn-padding-y: .7rem;
// $input-btn-padding-x: 1.5rem;
// $input-btn-padding-y-sm: .4rem;
// $input-btn-padding-x-sm: .75rem;
// $input-btn-padding-y-lg: .8rem;
// $input-btn-padding-x-lg: 2rem;


// Buttons
//
$btn-padding-x: 2rem;
$btn-padding-y: .75rem;
$btn-font-weight: $font-weight-normal;
$btn-font-size: $font-size-base * .8;
$btn-font-size-sm: $font-size-sm * 0.7;
$btn-font-size-lg: $font-size-base;
$btn-border-radius: 5px;
$btn-border-radius-lg: 10px;
$btn-border-radius-sm: 2px;


// Alerts
//
$alert-padding-y: 0.5rem;
$alert-padding-x: 0.75rem;
// $alert-border-radius: 0;
$alert-font-size: $font-size-sm;


// Breadcrumbs
$breadcrumb-font-size: $font-size-sm;
$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-bg: transparent;
$breadcrumb-divider-color: $gray-400;


// Cards
//
// $card-cap-bg: rgba($white, .03);


// Navs
//$nav-tabs-link-active-border-color: $light;



$nav-link-padding-y: .8rem;
$nav-link-padding-x: 1.4rem;
$nav-pills-border-radius: 50px;


// Dropdowns
//
// $dropdown-padding-y: 0;
// $dropdown-border-color: #fff;
// $dropdown-border-radius: 0;
// $dropdown-spacer: 0;


// Badges
// $badge-padding-y: .4rem;
// $badge-padding-x: 1rem;
// $badge-pill-padding-x: $badge-padding-x * 1.5;


// Modal
// $modal-backdrop-bg: $secondary;
// $modal-backdrop-opacity: .75;


//Forms
$input-font-family: $headings-font-family;
$input-bg: transparent;
//$input-color: $dark;
$input-placeholder-color: $gray-500;
$input-border-width: 1px;
//$input-border-color: $dark;
$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;


$owl-image-path: '../img/';

// scss-docs-start accordion-variables
$accordion-padding-y:                     1rem;
$accordion-padding-x:                     0rem;
$accordion-bg:                            transparent;
$accordion-border-color:                  transparent;
$accordion-border-radius:                 0px;

$accordion-button-padding-x:              $accordion-padding-x;
$accordion-button-bg:                     $accordion-bg;
$accordion-button-active-bg:              transparent;

$accordion-button-focus-border-color:     0px;
$accordion-button-focus-box-shadow:       0px;

$accordion-icon-width:                    1.25rem;
$accordion-icon-active-color:             $primary;
$accordion-icon-transition:               transform .2s ease-in-out;
$accordion-icon-transform:                rotate(-180deg);

$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-caret-down-fill' viewBox='0 0 16 16'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-caret-down-fill' viewBox='0 0 16 16'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>");

